<!DOCTYPE html>
<html>

<head>
  <title>Sunit Chudamani Bajracharya</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <div>
        <p>Hello <%=name%>, you are <%=age%> years old.</p>
    </div>
</body>